div.almount {
    display: flex;
    justify-content: space-between;
}

.contener {
    width: 510px;
    height: 1500px;
    border: 1px solid black;
    padding: 10px
}

.hr {
    background-color: black;
    height: 10px;
    width: 100%;
    margin: 0 auto;
}

.right {
    text-align: right;
}

.Alper {
    flex-basis: 70%;
}

.hr1 {
    background-color: black;
    height: 2px;
    width: 100%;
    margin: 0 auto;
}

.hr2 {
    background-color: darkgray;
    height: 1px;
    width: 98%;
    margin: 0 auto;
}

.hr3 {
    background-color: black;
    height: 8px;
    width: 100%;
    margin: 0 auto;
}

.daily {
    text-align: right;
}